:root {
  --glow-color: #597A9B;
  --border-color: #597A9B;
/*  
  --glow-color: #C4B27C;
  --border-color: #C4B27C; */
}

body{
  background-image: url(../assets/pictures/stars.webp);
  background-size: 300px auto;
  color: #f5f5f5;
  font-family: 'Courier-Local', 'Courier New', Courier, monospace;
}

#page-frame{
  display: flex; flex-flow: column nowrap;
  margin: auto; margin-top: 5vh; margin-bottom: 5vh;
  max-width: 900px;
  min-width: 650px;
  height: 90vh;
}

#main-body,#footer{
  background-color: #1E2127;
  border: 4px groove #1f3b61;
  padding: 0.5em;
}

#header{
  display: flex; flex: 1 1 10%;
}

#header-left{
  flex: 1 1 20%;
  position: relative;
  background-color: #1E2127;
  border: 4px solid var(--border-color);
  border-bottom: none; border-right: none;
  z-index: 6;
}

#header-left::after{
  z-index: 2;
  content: '';
  position: absolute; top: 0;
  width: 60%; height: 100.5%;
  right: -5vw; 
  top: -0.4vh;
  transform: skew(20deg);
  background-color: #1E2127;
  border: 4px solid var(--border-color);
  border-bottom: none;
  border-left: none;
}

#header-right{
  flex: 1 1 70%; align-self: flex-end; 
  height: 33%;
  background-color: #2b2b2b; 
  z-index: -2;
  border-bottom: 4px solid var(--border-color);
}

#middle {
  display: flex; flex: 3 1 80%;
  box-shadow: 0em -1em 4em 0.1em var(--glow-color);
}

#main-body{
  display: flex; flex-flow: column nowrap; flex: 4 1 80%; 
  z-index: 2;
  overflow-x: hidden;
  border: 4px solid var(--border-color);
  border-top: none;
  border-right: none;  
}

#sections{
  display: flex; flex-flow: row nowrap;
}

#sections button{
  flex: 1;
  height: 2.7em;
  font-weight: bold; font-size: 1em;
  border: none;
  background-color: #2b2b2b;
  color: #aaaaaa;
}

#sections button.active{
  background-color: #323741;
  color: #f5f5f5;
  border-bottom: 2px dashed #0D0D0D;
}

#main-content{
  flex: 1;
  padding: 2%;
  background-color: #323741;
}

#main-content div{
  display: flex; flex-flow: row nowrap;
  align-items: center;
}

#main-content a{
  color: #1f3b61; font-size: 2em; 
  text-decoration: none;
  background-color: #C0C0C0;
  padding: 0.2em;
}

#main-content p{
  font-weight: bold;
}

.projects-div{
  display: flex; flex-flow: row nowrap; 
  background-color: #0D0D0D;
  overflow-x: auto;    
  border: 5px groove var(--border-color);
}
.projects-div img{
  border: #f5f5f5;
}

#sidebar{
  display: flex;
  flex: 1 1 20%;
  border-right: 4px groove var(--border-color);
  border-bottom: 4px groove var(--border-color);
  background-color: #1E2127;
  padding: 0.5em;
  border-left: 3px solid #2b2b2b;
}

#sidebar-content{
  display: flex; flex-flow: column nowrap; flex: 1;
}

#sidebar-content p{
  margin: 0;
}

#sidebar-content p .offset{
  padding-left: 1.85em;
}
#sidebar-content p .offset-last-line{
  padding-left: 3em;
}

#sidebar button{
  background: none;
  font-size: 1em;
  border: none;
  font-family: 'Courier-Local', 'Courier New', Courier, monospace;  
  color: #f5f5f5;
  text-decoration: underline;
}

red {
  color: red;
}

#sidebar button:hover{
  background-color: #2e2e2e;
  cursor: pointer;
}